<div class="jumbotron">
    <h1 class="display-4">{{ clientView.name }} {{ clientView.last_name}}</h1>
    <p class="lead">Cedula: {{ clientView.cc }}</p>
    <hr class="my-4">
    <p>Ciudad: {{ clientView.city.name }}</p>
    <p>Estado: {{ clientView.status.name }}</p>
</div>