<app-header></app-header>
<section class="col-12 col-md-12 col-lg-12 col-xl-12 space">
    <div class="container">
        <ng-container *ngIf="!view">
            <ng-container *ngIf="!add">
                <div *ngIf="guarded" class="mt-20 mb-20 alert alert-success" role="alert">
                    El cliente se ha guardado correctamente
                </div>
                <div *ngIf="edited" class="mt-20 mb-20 alert alert-success" role="alert">
                    El cliente se ha editado correctamente
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group mt-55">
                                <button (click)="prove()" type="button" class="btn btn-primary"> Agregar cliente</button>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label class="mt-25">Filtrar por ciudad</label>
                                <select *ngIf="clients.length > 0" [(ngModel)]="search" name="search" class="form-control">
                                    <option value="+">Todos</option>
                                    <option *ngFor="let s of citys" value="{{ s.id }}">{{ s.name }}</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-grid mt-30">
                    <div *ngIf="clients.length > 0" class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">CC.</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of clients">
                                    <ng-container *ngIf="search == '+' || search == c.id_city">
                                        <th class="pointer" (click)="viewClient(c)" scope="row">{{ c.name }} {{ c.last_name }}</th>
                                        <td>{{ c.cc }}</td>
                                        <td (click)="editClient(c)" class="pointer"><i class="far fa-edit font-s-icon blue"></i></td>
                                        <td (click)="inactiveClient(c)" class="pointer"><i class="far fa-trash-alt font-s-icon red"></i></td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="clients.length == 0" class="alert alert-danger space-not-customer" role="alert">
                       No hay ningun cliente
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="add">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="mb-20">
                            <button (click)="prove()" type="button" class="btn btn-primary"><i *ngIf="add" class="fas fa-arrow-left"></i> {{ add ? "Volver" : "Agregar cliente"   }}</button>
                        </div>
                        <form class="mt-30" (ngSubmit)="addCient(f)" #f="ngForm" name="form" novalidate>
                            <div class="col-12 col-m-8 col-lg-8 col-xl-8">
                                <div class="form-group mt-10" [ngClass]="{'is-invalid': submitted && name.errors }">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" [(ngModel)]="client.name" name="name" #name="ngModel" required>
                                    <small *ngIf="submitted && name?.errors?.required" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>
                            <div class="col-12 col-m-8 col-lg-8 col-xl-8">
                                <div class="form-group mt-10" [ngClass]="{'is-invalid': submitted && last_name.errors }">
                                    <label>Apellido</label>
                                    <input type="text" class="form-control" [(ngModel)]="client.last_name" name="last_name" #last_name="ngModel" required>
                                    <small *ngIf="submitted && last_name?.errors?.required" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>

                            <div class="col-12 col-m-8 col-lg-8 col-xl-8">
                                <div class="form-group mt-10" [ngClass]="{'is-invalid': submitted && cc.errors }">
                                    <label>Cc</label>
                                    <input type="number" class="form-control" [(ngModel)]="client.cc" name="cc" #cc="ngModel" required number>
                                    <small *ngIf="submitted && cc?.errors?.required" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>

                            <div class="col-12 col-m-8 col-lg-8 col-xl-8">
                                <div class="form-group" [ngClass]="{'is-invalid': submitted && city.errors }">
                                    <label for="exampleFormControlSelect1">Ciudades</label>
                                    <select type="text" class="form-control" [(ngModel)]="client.id_city" name="city" #city="ngModel" required>
                                        <option *ngFor="let c of citys" [value]="c.id">{{ c.name }}</option>
                                    </select>
                                    <small *ngIf="submitted && city?.errors?.required" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>    

                            <div class="col-12 col-m-8 col-lg-8 col-xl-8">
                                <div class="form-group" [ngClass]="{'is-invalid': submitted && status.errors }">
                                    <label for="exampleFormControlSelect1">Estado</label>
                                    <select type="text" class="form-control" [(ngModel)]="client.id_state" name="status" #status="ngModel" required>
                                        <option *ngFor="let s of states" [value]="s.id">{{ s.name }}</option>
                                    </select>
                                    <small *ngIf="submitted && status?.errors?.required" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>

                            <div class="col-12 col-m-8 col-lg-8 col-xl-8">
                                <div class="mt-30">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="view">
            <div class="mb-20">
                <button (click)="proveViewClient()" type="submit" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Volver</button>
            </div>
            <app-client-view [clientView]="clientView"></app-client-view>
        </ng-container>
    </div>
</section>

